/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Roboto', sans-serif;;
}

.container{
    width: 70%;
    margin: 0 auto;
}
.flex-container{
    display: flex;
}

.white{
    color: white;
}

/* HEADER */
header{
    background-color: #ff6900;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
   
}
   
nav{
    align-items: center;
    height: 100%;

}

img{
    /* width: 100%; */
    
}

.boolean{
    width: 125px;
    
}

.menu{
    width: 20%;
    
}

.logo{
    width: 60%;
    justify-content: center;
}

.funzioni{
    width: 20%;
}

ul{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

.icone{
    text-align: right;
}

.icone span{
    padding-right: 5px;
}

/* MAIN */
main{
    padding-bottom: 50px;
    margin-top: 90px;
}

.product-list{
    flex-wrap: wrap;

}

.col{
    /* border: 1px solid red; */
    width: calc(100% / 3);
    padding-right: 10px;
}

.product{
    margin-top: 30px;
    position: relative;

}

.product-img{
    width: 100%;
    position: relative;
}

.hover-img{
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    
}

/* .container-discount{
    position: absolute;
} */

.heart{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    font-size: 30px;
    padding: 2px 10px;
}



.discount{
    background-color: red;
    /* position: absolute; */
    /* bottom: 0;
    left: 0; */

}

.characteristic{
    background-color: green;
    /* position: absolute; */

}

.product:hover .hover-img{
    display: block;
    
}

/* FOOTER */
footer{
    background-color: black;
    height: 100px;
    color: white;
}

.società{
    padding: 10px 0;
}

.space-social{
    justify-content: space-between;
}

.social span{
    padding-right: 10px;
    
}
