/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Roboto', sans-serif;;
}

.container{
    width: 70%;
    margin: 0 auto;
}
.flex-container{
    display: flex;
}

/* HEADER */
header{
    background-color: #ff6900;
    height: 80px;
    color: white;
}
   
nav{
    align-items: center;
    height: 100%;

}

img{
    /* width: 100%; */
    
}

.boolean{
    width: 125px;
    
}

.menu{
    width: 20%;
    
}

.logo{
    width: 60%;
    justify-content: center;
}

.funzioni{
    width: 20%;
}

ul{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

.icone{
    text-align: right;
}

.icone span{
    padding-right: 5px;
}

.col
{
    background-color: aqua;
    border: 1px solid red;
    width: calc(100% / 3);
}